/* Body styles where all the other elements are placed */
.body{
    background-color: hsl(217, 54%, 11%);
    max-width: 100vh;
    font-family: "Outfit";
    padding: 20px;
}
/* Image of NFT */
#image {
    width: 250px;
    display: flex;
    margin: auto;
    border-radius: 15px;
}

.card{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    border-radius: 10px;
    margin: auto;
    padding-top: 25px;
}

.title{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
}

.about {
    color: hsl(215, 51%, 70%);
    margin-left: 25px;
}

/* Etherium and clock icons plus corresponding text */
.currency {
    display: flex;
    justify-content: space-around;
}
#etherium {
    color: hsl(178, 100%, 50%);
    font-weight: 400;  
}

#clock {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    
}

/* Footer of the nft component */
.creator {
    display: flex;
    color: hsl(215, 51%, 70%); 
   
}
span{
    color: hsl(0, 0%, 100%);
}
#avatartxt {
    margin-left: 20px;
    font-size: 14px;
}
.avatar {
    width: 14%;
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-radius: 50%;
    margin-left: 25px;
    margin-bottom: 25px;
}
/* Horizontal line */
hr{
    margin: 25px;
    border-style: solid;
    color: hsl(215, 32%, 27%);
    
}

