/* Body styles where all the other elements are placed */
.body{
    background-color: hsl(217, 54%, 11%);
    font-family: "Outfit";
}
/* Image of NFT and icon view*/
#image {
    width: 250px;
    display: flex;
    margin: auto;
    border-radius: 15px;
}
 .main-img {
    position: relative;
  }

 .main-img div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(178, 100%, 50%, 0.541);
    border-radius: 0.5rem;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
 .main-img div:hover {
    opacity: 1;
    cursor: pointer;
  }

  .body .main-img div img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.card_content{
    background-color: hsl(216, 50%, 16%);
    width: 300px;
    border-radius: 10px;
    margin: auto;
    padding-top: 25px;
}

.card_title{
    color: hsl(0, 0%, 100%);
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
}

.card_description {
    color: hsl(215, 51%, 70%);
    margin-left: 25px;
}

/* Etherium and clock icons plus corresponding text */
.card_lists {
    display: flex;
    justify-content: space-around;
}
#etherium {
    color: hsl(178, 100%, 50%);
    font-weight: 400;  
}

#clock {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    
}

/* Footer of the nft component */
.card_profile {
    display: flex;
    color: hsl(215, 51%, 70%); 
   
}
a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}
a:hover {
    color: hsl(178, 100%, 50%);
    transition: 0.3s ease-in-out;
  }


#avatartxt {
    margin-left: 20px;
    font-size: 14px;
}
.avatar {
    width: 14%;
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
    border-radius: 50%;
    margin-left: 25px;
    margin-bottom: 25px;
}
/* Horizontal line */
hr{
    margin: 25px;
    border-style: solid;
    color: hsl(215, 32%, 27%);
    
}
  
 
  

    
  
